[Desktop Entry]
Name=dwm
Comment=dwm is a dynamic window manager for X
Exec=dwm_session.sh
TryExec=dwm_session.sh
Type=Application
X-LightDM-DesktopName=dwm
DesktopNames=dwm
Keywords=tiling;wm;windowmanager;window;manager;
